<style type="text/css">


#body {
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    background white;
    color: black;
    font-size: 160%;
    font-family: "Bitstream Vera Sans", Verdana, Arial, Helvetica, serif;
}

.project {
    width: 1000px;
    background white;
    color: black;
    font-size: 100%;
    font-family: "Bitstream Vera Sans", Verdana, Arial, Helvetica, serif;
}

.project li {
    margin: 0 0 0 0;
    padding: 3px 5px 5px 3px;
}

.project em {
   color: blue;
}
 

.meeting {
    width: 1000px;
    background white;
    color: black;
    font-size: 100%;
    font-family: "Bitstream Vera Sans", Verdana, Arial, Helvetica, serif;
}

.meeting ul {
    margin: 0 0 0 0;
}

.meeting li {
    margin: 0 0 0 0;
    padding: 3px 5px 5px 3px;
}

.meeting em {
   color: blue;
}

.meeting p {
   padding: 0 0 0 0;
   margin: 0 0 0 0;
}

.meeting h1 {
    margin: 15px 20px 20px 20px;
    pading: 0 0 0 0;
    font-weight: bold;
    color: #9EC5CA;
    font-size: 1.5em;
}

.meeting h2 {
    margin: 10px 10px 10px 200px;
    pading: 0 0 0 0;
    font-weight: bold;
    color: #9EC5CA;
    font-size: 1.2em;
}

#header {
    display: none;
    float: left;
    height: 110px;
    background: #9EC5CA url(bandeau_586x110.png) top left no-repeat;
}


#header ul {
    display: none;
    list-style-type: none;
    padding: 0;
    margin: 0 0 0 200px;
}

#header li {
    display: none;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 100%;
}


#header img {
    display: none;
    float: right;
    margin: 25px 25px 0 0;
}

#header h1{
    margin: 15px 0 0 200px;
    pading: 0 0 0 0;
    font-weight: bold;
    color: #d1b4d9;
    font-size: 1.5em;
}


#menuhaut {
    display: none;
    margin: 0;
    padding: 0.1em 0.5em 0.1em 0;
    list-style-type: none;
    background-color: black;
    color: white;
    text-align: right;
    font-size: 0.9em;
}

#menuhaut li {
    display: none;
    display: inline;
}

#menuhaut a {    
    display: none;
    color: white;
    text-decoration: none;
}

#menuhaut a:hover {
    display: none;	
    text-deoration: underline;
}

#bar{
    display: none;
    float: left;
    width: 140px;
    margin: 0 30px 0 0;
 }


#menu {
    display: none;
    float: left;
    width: 140px;
    padding: 1em 0 1em 0;
    margin: 0 30px 0 0;
    background: #D1B4D9 url(fondmenu.png) bottom left no-repeat;
}

#menu ul {
    display: none;
    list-style-type: none;
    padding: 0;
    margin: 0 1.em;
}

#menu li a {
    display: none;
    display: block;
    text-decoration: none;
    height: 2.0em;
    line-height: 2.0em;
    color: white;
    font-weight: bold;
    font-size: 100%;
    text-indent: 1em;
}

#menu li a:hover {
    display: none;
    background: #E9CEF1;
    color: #840F68;
}

#logo-institution-lab {	
    display: none;
    width: 140px;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

#logo-institution-lab img {
    display: none;
    float: left;
    height: 68px;	
    width: 68px;
    padding: 1px 1px 1px 1px;
    margin: 0px;
}

#logo-institution-lab p {
    display: none;
    float: left;
    height: 68px;	
    width: 68px;
    padding: 1px 1px 1px 1px;
    margin: 0px;
    color: blue;	
    font-size: 0.7em;
}



</style>