<div id="programme">
     
  <h2>Exposé invités </h2>

  <ul>
    <li> <em> <A HREF="mailto:bailly@teledetection.fr">Jean-St&eacute;phane Bailly</A> ou <A HREF="mailto:nathalie.saint-geours@teledetection.fr">Nathalie Saint-Geours</A> </em>(ENGREF Montpellier), </li>
    <li> <em> <A HREF="mailto:geraud.blatman@edf.fr">G&eacute;raud Blatman </A> </em>(EDF RetD), </li>
    <li> <em> <A HREF="mailto:Eric.Blayo@imag.fr">Eric Blayo</A> </em>(LJK - UJF, Grenoble), </li>
    <li> <em> <A HREF="mailto:david.ginsbourger@stat.unibe.ch">David Ginsbourger</A> </em>(Universit&eacute; de Bern, Suisse), </li>
    <li> <em> <A HREF="mailto:alexandre.janon@imag.fr"> Alexandre Janon</A> </em>(ISFA Lyon 1), </li>
    <li> <em> <A HREF="mailto:victor.picheny@ecp.fr">Victor Picheny</A> </em>(INRA BIA Toulouse). </li>
  </ul>
  
  <h2> Cours/TP et expos&eacute;s d'introduction </h2>
  
  <ul>
   <li> <em> <A HREF="mailto:Robert.Faivre@toulouse.inra.fr">Robert Faivre</A>  </em>(BIA - INRA, Toulouse),  </li>
   <li> <em> <A HREF="mailto:Celine.Helbert@imag.fr">C&eacute;line Helbert</A>  </em>(Centrale Lyon),  </li>
    <li> <em> <A HREF="mailto:bertrand.iooss@edf.fr">Bertrand Iooss</A>  </em>(EDF RetD),  </li>
    <li> <em> <A HREF="mailto:herve.monod@jouy.inra.fr">Herv&eacute; Monod</A> </em> (MIA - INRA, Centre de Jouy en Josas),</li>
    <li> <em> <A HREF="mailto:Stephanie.Mahevas@ifremer.fr">St&eacute;phanie Mah&eacute;vas</A>  </em>,  </li>
    <li> <em> <A HREF="mailto:makowski@grignon.inra.fr">David Makowski  </A></em> (INRA), </li>
    <li> <em> <A HREF="mailto:amandine.marrel@cea.fr">Amandine Marrel  </A> </em>(CEA Cadarache),  </li>
    <li> <em> <A HREF="mailto:clementine.prieur@imag.fr">Cl&eacute;mentine Prieur </A> </em> (LJK - UJF, Grenoble),  </li>
    <li> <em> <A HREF="mailto:Laurence.Viry@imag.fr">Laurence Viry   </A></em>  (LJK - UJF, Grenoble).  </li>
  </ul>
  
<!-- Tableau du programme  -->
<!-- --------------------  -->

<h2>Lundi 8 Avril </h2>

<table  border="1" width="100%">
<!-- -->
  <tr>
    <td style="background-color: #FFD051;" align="center" colspan="2">  12h-13h30: D&eacute;jeuner </td>
  </tr>
<!-- -->
  <tr>
    <td style="background-color: #d0e3e2;" align="center" colspan="1"> 13h30-13h45 </td>
    <td align="center" colspan="1"> Introduction g&eacute;n&eacute;rale<br>
      (<A HREF="mailto:herve.monod@jouy.inra.fr">Herv&eacute; Monod</A> et
      <A HREF="mailto:clementine.prieur@imag.fr">Cl&eacute;mentine Prieur</A>) </td>
  </tr>
<!-- -->
  <tr>
    <td style="background-color: #d0e3e2;" align="center" colspan="1"> 13h45-14h30 </td>
    <td align="center" colspan="1"> Introduction &agrave; l'analyse de sensibilit&eacute; et d'incertitude (1) <br>(David Makowski)
    </td>
  </tr>
<!-- -->
  <tr>
    <td style="background-color: #d0e3e2;" align="center" colspan="1"> 14h30-15h15 </td>
    <td align="center" colspan="1"> Introduction &agrave; l'AS de sensibilit&eacute; et &agrave; l'AI (2) <br>(Bertrand Iooss)
    </td>
  </tr>
<!-- -->
  <tr>
    <td style="background-color: #31B5BC;" align="center" colspan="2"> 15h15-15h45: Pause </td>
  </tr>
<!-- -->
  <tr>
    <td style="background-color: #d0e3e2;" align="center" colspan="1"> 15h45-17h45 </td>
    <td align="center" colspan="1"> Initiation aux outils logiciels R <br> (Laurence
Viry)</td>
  </tr>
<!-- -->
  <tr>
    <td style="background-color: #d0e3e2;" align="center" colspan="1"> 18h-18h45 </td>
    <td align="center" colspan="1"> Grille d'analyse du choix d'une m&eacute;thode. Illustration sur ISIS-Fish <br>(S. Mah&eacute;vas)
    </td>
  </tr>
<!-- -->
  <tr>
    <td style="background-color: #FFD051;" align="center" colspan="2">  19h: Pot d'accueil - D&icirc;ner </td>
  </tr>
</table>

<!-- MARDI -->

<h2>Mardi 9 Avril </h2>

<table  border="1" width="100%">
<!-- -->
  <tr>
    <td style="background-color: #d0e3e2;" align="center" colspan="1"> 8h30-10h </td>
    <td align="center" colspan="1"> Cours 1: plans d'exp&eacute;rience pour le criblage et l'analyse de sensibilit&eacute; <br>  (Herv&eacute; Monod  </td>
  </tr>
<!-- -->
  <tr>
    <td style="background-color:  #31B5BC;" align="center" colspan="2"> 10h-10h30: Pause </td>
  </tr>
<!-- -->
  <tr>
    <td style="background-color: #d0e3e2;" align="center" colspan="1"> 10h30-12h30 </td>
    <td align="center" colspan="1"> TP1: plans d'exp&eacute;riences </td>
  </tr>
<!-- -->
  <tr>
    <td style="background-color: #FFD051;" align="center" colspan="2">  12h30-14h: D&eacute;jeuner </td>
  </tr>
<!-- -->
  <tr>
    <td style="background-color: #d0e3e2;" align="center" colspan="1"> 14h-15h30 </td>
    <td align="center" colspan="1"> Cours 2: analyse de sensibilit&eacute; par d&eacute;composition de la variance <br>(St&eacute;phanie, Bertrand ou Cl&eacute;mentine)
    </td>
  </tr>
<!-- -->
  <tr>
    <td style="background-color:  #31B5BC;" align="center" colspan="2"> 15h30-16h: Pause </td>
  </tr>
<!-- -->
  <tr>
    <td style="background-color: #d0e3e2;" align="center" colspan="1"> 16h-17h45 </td>
    <td align="center" colspan="1"> TP2: analyse de sensibilit&eacute; 
    </td>
  </tr>
<!-- -->
  <tr>
    <td style="background-color: #d0e3e2;" align="center" colspan="1"> 15h45-17h45 </td>
    <td align="center" colspan="1"> Analyse de sensibilit&eacute; spatialis&eacute;e <br>(JS Bailly ou Nathalie Saint-Geours)</td>
  </tr>
<!-- -->
  <tr>
    <td style="background-color: #FFD051;" align="center" colspan="2">  19h30: D&icirc;ner </td>
  </tr>
</table>

<!-- MERCREDI -->

<h2>Mercredi 10 Avril </h2>

<table  border="1" width="100%">
<!-- -->
  <tr>
    <td style="background-color: #d0e3e2;" align="center" colspan="1" > 9h-9h45 </td>
    <td align="center" colspan="1"> M&eacute;thodes adjointes pour l'analyse de sensibilit&eacute; <br>(Eric Blayo)  </td>
  </tr>
<!-- -->
  <tr>
    <td style="background-color: #d0e3e2;" align="center" colspan="1" > 9h45-10h30 </td>
    <td align="center" colspan="1"> Approches intrusives pour l'analyse de sensibilit&eacute;<br> (Alexandre Jannon) </td>
  </tr>
<!-- -->
  <tr>
    <td style="background-color:  #31B5BC;" align="center" colspan="2" > 10h30-11h: Pause </td>
  </tr>
<!-- -->
  <tr>
    <td style="background-color: #d0e3e2;" align="center" colspan="1" > 11h-11h45 </td>
    <td align="center" colspan="1"> Proxy fonctionnels <br> (David Ginsbourger) </td>
  </tr>
<!-- -->
  <tr>
    <td style="background-color: #d0e3e2;" align="center" colspan="1" > 11h45-12h30 </td>
    <td align="center" colspan="1"> Apports du High Power Computing (HPC)   <br> (Laurence Viry)</td>
  </tr>
<!-- -->
  <tr>
    <td style="background-color: #FFD051;" align="center" colspan="2" >  12h30-14h: D&eacute;jeuner </td>
  </tr>
<tr>
    <td height="100" style="background-color: #DB3257;" align="center" colspan="2">  14h-19h30: Apr&egrave;s-midi d&eacute;tente </td>
</tr>
<!-- -->
<tr>
  <td style="background-color: #FFD051;" align="center" colspan="2">  19h30: D&icirc;ner </td>
</tr>
</table>

<!-- JEUDI -->

<h2>Jeudi 11 Avril </h2>

<table  border="1" width="100%">
<!-- -->
  <tr>
    <td style="background-color: #d0e3e2;" align="center" colspan="1" > 8h30-10h </td>
    <td align="center" colspan="1"> Cours 3: M&eacute;tamod&eacute;lisation par r&eacute;gression param&eacute;trique et non param&eacute;trique <br> (Robert Faivre)  </td>
  </tr>
<!-- -->
  <tr>
    <td style="background-color:  #31B5BC;" align="center" colspan="2" > 10h-10h30: Pause </td>
  </tr>
<!-- -->
  <tr>
    <td style="background-color: #d0e3e2;" align="center" colspan="1"> 10h30-12h30 </td>
    <td align="center" colspan="1"> TP3: r&eacute;gression 
    </td>
  </tr>
<!-- -->
  <tr>
    <td style="background-color: #FFD051;" align="center" colspan="2" >  12h30-14h: D&eacute;jeuner </td>
  </tr>
<!-- -->
  <tr>
    <td style="background-color: #d0e3e2;" align="center" colspan="1"> 14h-15h30 </td>
    <td align="center" colspan="1"> Cours 4: M&eacute;tamod&eacute;lisation par processus gaussiens <br> (Amandine Marrel) </td>
  </tr>
<!-- -->
  <tr>
    <td style="background-color:  #31B5BC;" align="center" colspan="2"> 15h-15h30: Pause </td>
  </tr>
<!-- -->
  <tr>
    <td style="background-color: #d0e3e2;" align="center" colspan="1"> 16h-18h </td>
    <td align="center" colspan="1"> TP 4: processus gaussiens</td>
  </tr>
<!-- -->
  <tr>
    <td style="background-color: #FFD051;" align="center" colspan="2">  19h30: D&icirc;ner </td>
  </tr>
<!-- -->
</table>

<!-- VENDREDI -->

<h2>Vendredi 12 Avril </h2>

<table  border="1" width="100%">
<!-- -->
  <tr>
    <td style="background-color: #d0e3e2;" align="center" colspan="1" > 8h30-9h15 </td>
<td align="center" colspan="1"> Polyn&ocirc;mes de chaos et plans adaptatifs <br> (G&eacute;raud
Blatman) </td>
  </tr>
<!-- -->
  <tr>
    <td style="background-color: #d0e3e2;" align="center" colspan="1" > 9h15-10h </td>
    <td align="center" colspan="1"> Optimisation par exploration de code num&eacute;rique <br> (Victor
Picheny) </td>
  </tr>
<!-- -->
  <tr>
    <td style="background-color:  #31B5BC;" align="center" colspan="2" > 10h-10h30: Pause </td>
  </tr>
<!-- -->
  <tr>
    <td style="background-color: #d0e3e2;" align="center" colspan="1" > 10h30-12h30 </td>
    <td align="center" colspan="1"> Conclusion </td>
  </tr>
<!-- -->
  <tr>
    <td style="background-color: #FFD051;" align="center" colspan="2" >  12h30-14h: D&eacute;jeuner / panier repas</td>
  </tr>
<!-- -->
</table>

</div>

    
