<div id="programme">

  <h2> Sponsors </h2>

  <ul>

    <li> <em> MaiMoSine  </em> Maison de la mod&eacute;lisation et de
    la simulation.  </li>
    <li> <em> INRA> </em> Institut National de la Recherche Agronomique. </li>
    <li> <em> MASCOT NUM> </em> GDR CNRS MASCOT NUM. </li>
    <li> <em> INRIA </em> Institut National de la Recherche en Informatique et Automatique. </li>
  </ul>

</div>
