<div id="programme">

<h1>  Inscription </h1>

L'école-chercheurs est ouverte aux doctorants, postdoctorants, chercheurs et ingénieurs
du domaine public ou privé. Le nombre de stagiaires est limité
impérativement à 50 personnes et les organisateurs pourront donc être
amenés à effectuer une sélection sur les candidatures.


<h2> Frais d'inscription</h2>

<p> Les tarifs comprenant l'inscription, le logement et les repas sont de
<ul>
<li> 150 euros pour les étudiants
<li> 300 euros pour les universitaires, chercheurs du domaine public, ou
  membres du Club des Partenaires du GDR Mascot-Num
<li> 500 euros sinon.
</ul>

 <h2> Formulaire d'inscription </h2>

<p> <center> <font size=5 color=#FF0000>!!!   Les inscriptions sont closes !!!</font></center></p>

<p> Pour candidater à l'école-chercheurs, vous devez remplir le formulaire :
<ul>
<li> <a href="Doc/inscription_aspen.rtf" >  formulaire d'inscription en
    format rtf </a> </li>
<li> <a href="Doc/inscription_aspen.pdf" > formulaire d'inscription en
    format pdf </a> </li>
</ul>
<!-- et l'envoyer par email, en format pdf uniquement, à l'adresse
 <em> <A HREF="mailto:aspen-admin@lists.forge.imag.fr">aspen-admin@lists.forge.imag.fr  </A> </em> -->
</li>
</ul>


 <h2> Date limite </h2>

<p> Le formulaire d'inscription devra &ecirc;tre envoy&eacute; avant le <strong> 30 novembre
  2012 </strong>. Les décisions sur les inscriptions
  retenues seront notifiées le 11 janvier 2013 au plus tard.
</p>

</div>
