#body {
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    background: white;
    color: black;
    font-size: 160%;
    font-family: Verdana, Geneva, Arial, sans-serif;
}

#header {
    height: 190px;
    width: 940px;
}

#header li {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 100%;
}


#header img {
    margin: 0 0 0 225px;
}

#header h1{
    text-align: center;
    margin: 5px 0 0 0;
    padding: 0 0 0 0;
    font-weight: bold;
    color: #184b50;
    font-size: 1.5em;
}

#header h2{
    text-align: center;
    margin: 10px 0 0 0;
    padding: 0 0 0 0;
    font-weight: bold;
    color: #7cc7d2;
    font-size: 1.2em;
}

#titles {
    height: 110px;
    padding: 20px 0 0 0;
}


#menuhaut {
    margin: 0;
    padding: 0.1em 0.5em 0.1em 0;
    width: 940px;
    list-style-type: none;
    background-color: #9aa0a0;
    color: white;
    text-align: right;
    font-size: 0.6em;
}

#menuhaut li {
    display: inline;
}

#menuhaut a {
    color: white;
    text-decoration: none;
}

#menuhaut a:hover {
    text-decoration: underline;
}

#menuhaut img {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    width: 20px;
    height: 10px;
}

#bar{
    float: left;
    width: 150px;
    margin: 1px 1px 1px 1px;
 }


#menu {
    border: 1px solid #000000;
    background: #d0e3e2;
}

#menu ul {
    list-style-type: none;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

#menu li a {
    display: block;
    text-decoration: none;
    height: 3.25em;
    line-height: 3.25em;
    color: black;
    font-weight: bold;
    font-size: 100%;
    text-indent: 1em;
}

#menu li a:hover {
    background: #bddcda;
    color: #791a1a;
}

#summary {
    float: left;
    margin-left: 15px;
    background: white;
    color: black;
    width: 780px;
    font-size: 100%;
    font-family: sans-serif;
    text-align: justify;
}

#summary ul {
    padding: 0px 0px 0px 20px;
}

#summary li {
    padding: 3px 3px 3px 20px;
}

#summary em {
   color: blue;
}

#summary h2 {
    font-size: 130%;
    color: #68898e;
}

#summary h3 {
    font-size: 100%;
}


#logo-sponsor {	
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}


.logo-1 {
    float: left;	
    width: 100%;
    padding: 5px 5px 5px 5px;
    margin: 0px;
}

.logo-2 {
    float: left;
    width: 60%;
    padding: 5px 5px 5px 5px;
    margin: 0 20%;
}


#logo-sponsor p {
    float: left;
    height: 68px;	
    width: 68px;
    padding: 1px 1px 1px 1px;
    margin: 0px;
    color: blue;	
}



#programme {
    float: left;
    margin-left: 15px;
    background: white;
    color: black;
    width: 780px;
    font-size: 100%;
    font-family: helvetica, sans-serif;
}

#programme ul {
    padding: 0px 0px 0px 20px;
}

#programme li {
    padding: 3px 3px 3px 20px;
}

#programme em {
   color: blue;
}

#programme h2 {
    font-size: 130%;
    color: #68898e;
}

#programme h3 {
    font-size: 100%;
}
