<div id="participants" >

<h2> Participant list </h2>

<table>

<tr> <td>   1	</td> <td>     Blayo	      	 </td> <td>     Eric		  </td> <td>     Universit Joseph Fourier - Grenoble 	    </td> </tr>
<tr> <td>   2	</td> <td>     Faivre         	 </td> <td>     Robert		  </td> <td>     INRA Toulouse				    </td> </tr>	
<tr> <td>   3	</td> <td>     Monod          	 </td> <td>     Herv&eacute;	  </td> <td>     INRA Jouy-en-Josas			    </td> </tr>	
<tr> <td>   4	</td> <td>     Prieur	      	 </td> <td>     Cl&eacute;mentine </td> <td>    Universit&eacute; Joseph Fourier - Grenoble </td> </tr>
<tr> <td>   5	</td> <td>     Viry         	 </td> <td>     Laurence	  </td> <td>     Universit&eacute; Joseph Fourier - Grenoble </td> </tr>
<tr> <td>   1	</td> <td>   	      	       </td> <td>    	      	</td> <td>    					</td> </tr>				
			
</table>

</div>

