<div id="programme">

  <h1>  Slides and provisional lecture notes </h1>


  <h2> Slides </h2>

  <ul>

    <li> <a href="Support/Slides/chris_snyder_slides_1.pdf" > Slides: Chris Snyder part 1 
    </a> </li>

    
  </ul>

  <h2> Review groups </h2>

  <p> <a href="Support/Groups/review_groups.pdf" > Review groups
    </a>

  <h2> Training session </h2>

  <p> <a href="Support/Training/TPHouchesPart2.zip" > Training session, part 2
    </a>

</div>
