Informations pour ceux qui viennent de Paris:<br>
<br>
Voici deux options:
<br>
<ol>
<li> <b> Aller jusqu' &agrave; Gen&egrave;ve (train ou avion)</b><br>
A partir de Gen&egrave;ve, on peut prendre un bus jusqu'aux Houches (<a href="http://www.chamonix.com/pdf/genevehiver.pdf">horaires</a>).<br>
Le bus fait le trajet Gen&egrave;ve-Chamonix (dans les deux sens) mais on ne peut pas le prendre pour faire un bout trajet en France (Saint Gervais-Les Houches par exemple)<br>
Il y a aussi l'option <A href=" http://www.chamexpress.com"> minibus depuis l'a&eacute;roport </a>.
</li>
<li><b> En train</b>, on peut &eacute;galement aller jusqu' &agrave; Saint Gervais les Bains Le Fayet via Bellegarde ou Annecy (
<a href="http://www.voyages-sncf.com/"> horaires</a>)<br>


