<div id="programme">

  <h2> Sponsors </h2>

  <ul>

    <li> <em> <A HREF="http://www.maimosine.fr/">MaiMoSine</A>  </em> : Maison de la mod&eacute;lisation et de la simulation  </li>
    <li> <em> <A HREF="http://www.inra.fr/">INRA</A> </em> :  Institut National de la Recherche Agronomique </li>
    <li> <em> <A HREF="http://www.gdr-mascotnum.fr/">Mascot Num</A> </em> :  GdR CNRS Mascot Num </li>
<!--    <li> <em> <A HREF="http://www.inria.fr/"INRIA</A> </em> Institut National de la Recherche en Informatique et Automatique. </li> -->
   <li> <em> <A HREF="http://www.rnsc.fr">RNSC</A> </em> :  R&eacute;seau National des Syst&egrave;mes Complexes </li>
   <li> <em> <A HREF="http://www.ixxi.fr">IXXI </A>  </em>:  Rh&ocirc;ne Alpes Complex Systems Institute </li>
   <li> <em> <A HREF="Http://reseau-mexico.fr/">Mexico </A> </em> : R&eacute;seau Mexico  </li>
   <li> <em> <A HREF="http://www.cnrs.fr/"> CNRS </A> </em> : Le Centre national de la recherche scientifique  </li>
   <li> <em> <A HREF="http://smai.emath.fr/spip.php?article326"> Le groupe thématique MAS de la SMAI </A> </em>   </li>
   <li> <em> <A HREF="https://persyval-lab.org/"> Le LabEx PERSYVAL-Lab </A> </em>   </li>
<!--   <li> <em> <A HREF="https://persyval-lab.org/"> FormaSciences INRA </A> </em>   </li> -->
<li> <em> FormaSciences INRA  </em>   </li> 
  </ul>

</div>
