body {
    width: 920px;
    margin-left: auto;
    margin-right: auto;
    padding: 6px;
    background: white;
    color: black;
}

#main {
    width: 800px;
    margin-left: 60px;
    margin-right: 60px;
}

#lmargin {
    float: left;
    width: 60px;
}

#lmargin img {
    padding-right: 10px;
    width: 50px;
    height: 1040px;
}

#rmargin {
    float: right;
    width: 60px; 
}

#rmargin img {
    padding-left: 10px;
    width: 50px;
    height: 1040px;
}

#header {
    height: 190px;
}

#header li {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 100%;
}


#header img {
    margin: 0 0 0 225px;
}

#header h1{
    text-align: center;
    margin: 5px 0 0 0;
    padding: 0 0 0 0;
    font-weight: bold;
    color: #184b50;
    font-size: 1.5em;
}

#header h2{
    text-align: center;
    margin: 10px 0 0 0;
    padding: 0 0 0 0;
    font-weight: bold;
    color: #7cc7d2;
    font-size: 1.2em;
}

#titles {
    height: 110px;
    padding: 20px 0 0 0;
}


#menuhaut {
    margin: 0;
    padding: 0.1em 0.5em 0.1em 0;
    list-style-type: none;
    background-color: #9aa0a0;
    color: white;
    text-align: right;
}

#menuhaut ul {
    margin: 0;
    font-size: 60%;
}

#menuhaut li {
    display: inline;
}

#menuhaut a {
    color: white;
    text-decoration: none;
}

#menuhaut a:hover {
    text-decoration: underline;
}

#menuhaut img {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    width: 20px;
    height: 10px;
}

/* #bar{ */
/*     float: left; */
/*     width: 18%; */
/*  } */


#menu {
    float: left;
    width: 18%;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    border: 1px solid #000000;
    background: #d0e3e2;
}

#menu ul {
    list-style-type: none;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

#menu li a {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    display: block;
    text-decoration: none;
    height: 3.25em;
    line-height: 3.25em;
    color: black;
    font-weight: bold;
    font-size: 90%;
    text-indent: 1em;
}

#menu li a:hover {
    background: #bddcda;
    color: #791a1a;
}



#content {
    margin-left: 20%;
    background: white;
    color: black;
    font-size: 90%;
    font-family: helvetica, sans-serif;
    text-align: justify;
}

#content ul {
    padding: 0px 0px 0px 20px;
}

#content li {
    padding: 3px 3px 3px 20px;
}

#content em {
   color: blue;
}

#content h2 {
    font-size: 130%;
    color: #68898e;
}

#content h3 {
    font-size: 100%;
}


/* #logo-sponsor {	 */
/*     padding: 0 0 0 0; */
/*     margin: 0 0 0 0; */
/* } */

#logo-sponsor {
    float: right;
    width: 13%;
}

.logo-1 {
    float: right;	
    width: 75%;
    padding: 5px 5px 5px 5px;
    margin: 0px;
}

.logo-2 {
    float: right;
    width: 60%;
    padding: 5px 5px 5px 5px;
    margin: 0px;
}


/* #logo-sponsor p { */
/*     float: left; */
/*     height: 68px;	 */
/*     width: 68px; */
/*     padding: 1px 1px 1px 1px; */
/*     margin: 0px; */
/*     color: blue;	 */
/* } */

#schedule {
    margin-left: 20%;
    background: white;
    color: black;
    font-size: 90%;
    font-family: helvetica, sans-serif;
}


.schedule-week {
    float: left;
    width: 100%;
    padding: 5px 5px 5px 5px;
    margin: 0px;
}

#programme {
    margin-left: 20%;
    background: white;
    color: black;
    font-size: 90%;
    font-family: helvetica, sans-serif;
}

#programme ul {
    padding: 0px 0px 0px 20px;
}

#programme li {
    padding: 3px 3px 3px 20px;
}

#programme em {
   color: blue;
}

#programme h2 {
    font-size: 130%;
    color: #68898e;
}

#programme h3 {
    font-size: 100%;
}


#message p {
    font-size: 100%;
    color: blue;	
}

#participants {
    margin-left: 0%;
    background: white;
    color: black;
    font-size: 80%;
    font-family: helvetica, sans-serif;
}

#participants h2 {
    font-size: 130%;
    color: #68898e;
}

#participants td {
    padding: 0px 0px 0px 20px;
}