<div id="programme">

<h1>  Application </h1>

Remarques:
<ul>
<li> traduire ou reformuler compl&egrave;tement </li>
<li>j'ai laiss&eacute; les formulaires comme exemples, ils sont &agrave; adapter </li>
<li> le co&ucirc;t est &agrave; discuter</li>
<li>l'adresse mail pour les  inscriptions??  l'adresse mail du projet de la forge????</li>
<ul>

<h2> Fees </h2>

<p> The cost for accommodation and meals is 1300 (?????) euros per participant for
the three weeks.  This fee also includes a bound volume containing the
lectures.  Limited funding may be available to students to cover a
portion of accommodation and travel costs.  </p>

 <h2> Application form </h2>

<p> To apply to the summer school, you will need: </p>
<ul>
<li> To fill in the form:
<ul>
<li> <a href="Doc/application_form.rtf" > application form in rtf format </a> </li>
<li> <a href="Doc/application_form.pdf" > application form in pdf format  </a> </li>
</ul>
and to send it by email, in pdf format only, to
daschool2012@ujf-grenoble.fr (????)
</li>
<li>
Two letters of recommendation, to be sent in pdf format to
daschool2012@ujf-grenoble.fr (?????)
</li>
</ul>


 <h2> Deadline </h2>

<p> Both the application form and the letters of recommendation should be
received (by <strong> e-mail </strong> and <strong> pdf document
  format </strong>) at
daschool2012@ujf-grenoble.fr, no later than the <strong> 30th of
  November 2011 </strong> (deadline extended from the 15th of November to 30th of November).
Decisions as to acceptance will be sent in mid-January 2012.
</p>

</div>
