<div id="programme">

<h2>  General information on the school  </h2>

<a href="http://houches.ujf-grenoble.fr/jsp/fiche_pagelibre.jsp?CODE=31508954&LANGUE=0&RH=1261231404562&RF=1261231404562"
   > Link to the web site of les Houches school of physics </a>

<h2>  Practical information on the school  </h2>

<a href="http://houches.ujf-grenoble.fr/jsp/fiche_pagelibre.jsp?CODE=92316822&LANGUE=0&RH=1261231404562&RF=1237392222068"
   > Link to the practical information webpage </a>

</div>
