<div id="programme">
     
  <h2>Expos&eacute;s invit&eacute;s </h2>

  <ul>
    <li> <em> <A HREF="http://ljk.imag.fr/membres/Eric.Blayo/">Eric Blayo</A> </em>(LJK - UJF, Grenoble), </li>
    <li> <em> <A HREF="mailto:gael.poette@cea.fr">Gael Poette</A> </em>(CEA, DAM, DIF), </li>
    <li> <em> <A HREF="http://www.i3s.unice.fr/~pronzato/">Luc Pronzato</A> </em>(Universit&eacute; de Nice Sophia Antipolis), </li>
    <li> <em> <A HREF="http://ens.math.univ-montp2.fr/SPIP/spip.php?rubrique2517">Nathalie Saint-Geours</A> </em>(ENGREF Montpellier), </li>
    <li> <em> <A HREF="http://www.ibk.ethz.ch/su/index_EN">Bruno Sudret</A> </em>(ETH, Zurich Suisse), </li>
    <li> <em> <A HREF="http://www.supelec.fr/361_p_10678/e-vazquez.html"> Emmanuel Vazquez</A> </em>(Sup&eacute;lec), </li>
<!--    <li> <em> <A HREF="https://sites.google.com/site/victorpicheny/">Victor Picheny</A> </em>(INRA BIA Toulouse). </li> -->
  </ul>
  
  <h2> Cours/TP et expos&eacute;s d'introduction </h2>
  
  <ul>
   <li> <em> <A HREF="http://carlit.toulouse.inra.fr/wikiz/index.php/Robert_FAIVRE">Robert Faivre</A>  </em>(MIA - INRA, Centre de Toulouse),  </li>
    <li> <em> <A HREF="http://www.gdr-mascotnum.fr/doku.php?id=iooss1">Bertrand Iooss </A> </em> (EDF R&D, France), </li>
<!--    <li> <em> <A HREF="http://annuaire.ifremer.fr/cv/16343/">St&eacute;phanie Mah&eacute;vas</A>  </em>(Ifremer),  </li> -->
    <li> <em> <A HREF="http://www5.versailles-grignon.inra.fr/agronomie/cv/Makowski">David Makowski  </A></em> (INRA), </li>
    <li> <em> <A HREF="mailto:sebastien.daveiga@snecma.fr">S&eacute;bastien Da Veiga  </A> </em>(Snecma, Paris),  </li>
   <li> <em> <A HREF="http://w3.jouy.inra.fr/unites/miaj/public/perso/HerveMonod_en.html">Herv&eacute; Monod</A>  </em>(MIA - INRA, Centre de Jouy en Josas),  </li>
   <li> <em> <A HREF="http://ljk.imag.fr/membres/Clementine.Prieur/">Cl&eacute;mentine Prieur</A>  </em> (LJK - UJF, Grenoble), </li>
   <li> <em> <A HREF="http://ljk.imag.fr/membres/Laurence.Viry/">Laurence Viry</A>  </em> (LJK - UJF, Grenoble), </li>
   <li> <em> <A HREF="mailto:laurent.gilquin@inria.fr">Laurent Gilquin</A>  </em> (LJK - UJF, Grenoble), </li>

  </ul>
  
<!-- Tableau du programme  -->
<!-- --------------------  -->

<h2>Lundi 5 Mai </h2>

Sur cette premi&egrave;re journ&eacute;e, il pourra y avoir quelques modifications.
<br>
<br>
<!-- nouvelle version -->
<table  border="1" width="100%">
<!-- -->
  <tr>
    <td style="background-color: #d0e3e2;" align="center" colspan="1"> 10h-10h30 </td>
    <td align="center" colspan="1"> Introduction g&eacute;n&eacute;rale 
<!--      (<A HREF="Support/Slides/IntroGenerale.pdf">slides </A>) -->
      <br>
      (<A HREF="mailto:herve.monod@jouy.inra.fr">Herv&eacute; Monod</A> et
      <A HREF="mailto:clementine.prieur@imag.fr">Cl&eacute;mentine Prieur</A>)  </td>
  </tr>
<!-- -->
  <tr>
    <td style="background-color: #d0e3e2;" align="center" colspan="1"> 10h30-11h30 </td>
    <td align="center" colspan="1"> Introduction &agrave; l'analyse de sensibilit&eacute; et d'incertitude 
 <!-- (<a href="Support/Slides/MakowskiECanalyseSensibilite_2013.pdf">slides</a>) -->
      <br>(<A HREF="mailto:david.makowski@grignon.inra.fr">David Makowski</A>)
    </td>
  </tr>

<!-- -->
  <tr>
    <td style="background-color: #d0e3e2;" align="center" colspan="1"> 11h30-12h30 </td>
    <td align="center" colspan="1"> Initiation R: les bases du langage <br> (<A HREF="mailto:Laurence.Viry@imag.fr">Laurence
Viry</A>)</td>
  </tr>
<!-- -->
  <tr>
    <td style="background-color: #FFD051;" align="center" colspan="2">  12h30-14h: D&eacute;jeuner </td>
  </tr>
<!-- -->
  <tr>
    <td style="background-color: #d0e3e2;" align="center" colspan="1"> 14h-15h </td>
    <td align="center" colspan="1"> Enjeux et m&eacute;thodes de l'exploration des mod&egrave;les 
<!--  (<a href="Support/Slides/Intro_Marrel_Iooss.pdf">slides</a>) -->
      <br>
(<A HREF="mailto:biooss@yahoo.fr">Bertrand Ioss</A>)
    </td>
  </tr>

<!-- 
  <tr>
    <td style="background-color: #d0e3e2;" align="center" colspan="1"> 15h-16h </td>
    <td align="center" colspan="1"> Grille d'analyse du choix d'une m&eacute;thode. Illustration sur ISIS-Fish 
  (<a href="Support/Slides/2013_GrilleExemple_SM.pdf">slides</a>)<br>
(<A HREF="mailto:Stephanie.Mahevas@ifremer.fr">S&eacute;phanie Mah&eacute;vas</A>)
    </td>
  </tr> -->
<!-- -->
  <tr>
    <td style="background-color:  #31B5BC;" align="center" colspan="2"> 15h-15h30: Pause </td>
  </tr>

<!-- -->
  <tr>
    <td style="background-color: #d0e3e2;" align="center" colspan="1"> 15h30-? </td>
    <td align="center" colspan="1"> Initiation R: traitement statistique <br> (<A HREF="mailto:Laurence.Viry@imag.fr">Laurence
Viry</A>)</td>
  </tr>
<!-- -->
  <tr>
    <td style="background-color:   #FFD051;" align="center" colspan="2"> 19h Pot d'accueil </td>
  </tr>

</table>

<!-- MARDI -->

<h2>Mardi 6 Mai </h2>

<table  border="1" width="100%">
<!-- -->
  <tr>
    <td style="background-color: #d0e3e2;" align="center" colspan="1"> 8h30-10h </td>
    <td align="center" colspan="1"> Cours 1: plans d'exp&eacute;rience pour le criblage et l'analyse de sensibilit&eacute; 
<!--  (<a href="Support/Slides/Cours1.pdf">slides</a>) -->
      <br>
  (<A HREF="mailto:herve.monod@jouy.inra.fr">Herv&eacute; Monod</A>)  </td>
  </tr>
<!-- -->
  <tr>
    <td style="background-color:  #31B5BC;" align="center" colspan="2"> 10h-10h30: Pause </td>
  </tr>
<!-- -->
  <tr>
    <td style="background-color: #d0e3e2;" align="center" colspan="1"> 10h30-12h30 </td>
    <td align="center" colspan="1"> TP1: plans d'exp&eacute;riences </td>
  </tr>
<!-- -->
  <tr>
    <td style="background-color: #FFD051;" align="center" colspan="2">  12h30-14h: D&eacute;jeuner </td>
  </tr>
<!-- -->
  <tr>
    <td style="background-color: #d0e3e2;" align="center" colspan="1"> 14h-15h30 </td>
    <td align="center" colspan="1"> Cours 2: analyse de sensibilit&eacute; par d&eacute;composition de la variance 
 <!--  (<a href="Support/Slides/Cours2.pdf">slides</a>) -->
<br>
(<A HREF="mailto:clementine.prieur@imag.fr">Cl&eacute;mentine Prieur</A>)
    </td>
  </tr>
<!-- -->
  <tr>
    <td style="background-color:  #31B5BC;" align="center" colspan="2"> 15h30-16h: Pause </td>
  </tr>
<!-- -->
  <tr>
    <td style="background-color: #d0e3e2;" align="center" colspan="1"> 16h-18h </td>
    <td align="center" colspan="1"> TP2: analyse de sensibilit&eacute; 
    </td>
  </tr>
<!-- -->
  <tr>
    <td style="background-color: #d0e3e2;" align="center" colspan="1"> 18h-19h </td>
    <td align="center" colspan="1"> Analyse de sensibilit&eacute; spatialis&eacute;e 
 <!--  (<a href="Support/Slides/AnalyseSensibiliteSpatialisee.pdf">slides</a>) -->
      <br>
(<A HREF="mailto:nathalie.saint-geours@teledetection.fr">Nathalie Saint-Geours</A>)</td>
  </tr>
<!-- -->
  <tr>
    <td style="background-color: #FFD051;" align="center" colspan="2">  19h30: D&icirc;ner </td>
  </tr>
<!-- -->
  <tr>
    <td style="background-color: #d0e3e2;" align="center" colspan="1"> 21h15</td>
    <td align="center" colspan="1"> Mod&egrave;le au bar</td>
  </tr>

</table>

<!-- MERCREDI -->

<h2>Mercredi 7 Mai </h2>

<table  border="1" width="100%">
<!-- -->
  <tr>
    <td style="background-color: #d0e3e2;" align="center" colspan="1" > 8h30-9h15 </td>
    <td align="center" colspan="1"> M&eacute;thodes adjointes pour l'analyse de sensibilit&eacute; 
<!--  (<a href="Support/Slides/sensibilite-adjoint.pdf">slides</a>) -->
      <br>

(<A HREF="mailto:blayo@imag.fr">Eric Blayo</A>)  </td>
  </tr>
<!-- -->
  <tr>
    <td style="background-color: #d0e3e2;" align="center" colspan="1" > 9h15-10h </td>
    <td align="center" colspan="1"> M&eacute;thodes spectrales stochastiques intrusives pour la propagation d'incertitudes, application &agrave; <br>la dynamique des gaz compressibles
  <!-- (<a href="Support/Slides/Janon_A_Approches_intrusives.pdf">slides</a>) -->
<br>
 (<A HREF="mailto:gael.poette@cea.fr">Gael Poette</A>) </td>
  </tr>
<!-- -->
  <tr>
    <td style="background-color:  #31B5BC;" align="center" colspan="2" > 10h-10h30: Pause </td>
  </tr>
<!-- -->
  <tr>
    <td style="background-color: #d0e3e2;" align="center" colspan="1" > 10h30-11h15 </td>
    <td align="center" colspan="1"> Plans adaptatifs 
<!--  (<a href="Support/Slides/LesHouchesGinsbourger042013_Main.pdf">slides</a>) -->
<br>

 (<A HREF="mailto:pronzato@i3s.unice.fr">Luc Pronzato</A>) </td>
  </tr>
<!-- -->
  <tr>
    <td style="background-color: #d0e3e2;" align="center" colspan="1" > 11h15-12h </td>
    <td align="center" colspan="1"> Apports du Calcul Haute Performance (High Performance Computing)   
<!--  (<a href="Support/Slides/TendanceHPC.pdf">slides</a>) -->
      <br>
 (<A HREF="mailto:Laurence.Viry@imag.fr">Laurence Viry</A>)</td>
  </tr>
<!-- -->
  <tr>
    <td style="background-color: #FFD051;" align="center" colspan="2" >  12h30-14h: D&eacute;jeuner </td>
  </tr>
<tr>
    <td height="100" style="background-color: #DB3257;" align="center" colspan="2">  14h-19h30: Apr&egrave;s-midi d&eacute;tente </td>
</tr>
<!-- -->
<tr>
  <td style="background-color: #FFD051;" align="center" colspan="2">  19h30: D&icirc;ner </td>
</tr>
<!-- -->
  <tr>
    <td style="background-color: #d0e3e2;" align="center" colspan="1"> 21h15</td>
    <td align="center" colspan="1"> Mod&egrave;le au bar</td>
  </tr>
</table>

<!-- JEUDI -->

<h2>Jeudi 8 Mai </h2>

<table  border="1" width="100%">
<!-- -->
  <tr>
    <td style="background-color: #d0e3e2;" align="center" colspan="1" > 8h30-10h </td>
    <td align="center" colspan="1"> Cours 3: M&eacute;tamod&eacute;lisation par r&eacute;gression param&eacute;trique et non param&eacute;trique 
<!--   (<a href="Support/Slides/Cours3.pdf">slides</a>) -->
      <br>
 (<A HREF="mailto:robert.faivre@toulouse.inra.fr">Robert Faivre</A>)  </td>
  </tr>
<!-- -->
  <tr>
    <td style="background-color:  #31B5BC;" align="center" colspan="2" > 10h-10h30: Pause </td>
  </tr>
<!-- -->
  <tr>
    <td style="background-color: #d0e3e2;" align="center" colspan="1"> 10h30-12h30 </td>
    <td align="center" colspan="1"> TP3: r&eacute;gression 
    </td>
  </tr>
<!-- -->
  <tr>
    <td style="background-color: #FFD051;" align="center" colspan="2" >  12h30-14h: D&eacute;jeuner </td>
  </tr>
<!-- -->
  <tr>
    <td style="background-color: #d0e3e2;" align="center" colspan="1"> 14h-15h30 </td>
    <td align="center" colspan="1"> Cours 4: M&eacute;tamod&eacute;lisation par processus gaussiens 
<!--  (<a href="Support/Slides/Cours4.pdf">slides</a>) -->
      <br>
 (<A HREF="mailto:sebastien.daveiga@snecma.fr">S&eacute;bastien Da Veiga</A>) </td>
  </tr>
<!-- -->
  <tr>
    <td style="background-color:  #31B5BC;" align="center" colspan="2"> 15h-15h30: Pause </td>
  </tr>
<!-- -->
  <tr>
    <td style="background-color: #d0e3e2;" align="center" colspan="1"> 16h-18h </td>
    <td align="center" colspan="1"> TP 4: processus gaussiens</td>
  </tr>
<!-- -->
  <tr>
    <td style="background-color: #FFD051;" align="center" colspan="2">  19h30: D&icirc;ner </td>
  </tr>
<!-- -->
  <tr>
    <td style="background-color: #FFD051;" align="center" colspan="2" > Repas Savoyard </td>
  </tr>
<!-- -->
</table>

<!-- VENDREDI -->

<h2>Vendredi 9 Mai </h2>

<table  border="1" width="100%">
<!-- -->
  <tr>
    <td style="background-color: #d0e3e2;" align="center" colspan="1" > 8h30-9h15 </td>
<td align="center" colspan="1"> M&eacute;tamod&eacute;lisation par polyn&ocirc;mes de chaos 
 <!-- (<a href="Support/Slides/Polynomial_chaos_ASPEN_2013.pdf">slides</a>) -->
  <br>
 (<A HREF="mailto:sudret@ibk.baug.ethz.ch">Bruno Sudret</A>) </td>
  </tr>
<!-- -->
  <tr>
    <td style="background-color: #d0e3e2;" align="center" colspan="1" > 9h15-10h </td>
    <td align="center" colspan="1"> Recherche d'optimum et/ou &eacute;valuation de quantiles extrêmes 
<!-- (<a href="Support/Slides/optimAspen.pdf">slides</a>) -->

<br> 

 (<A HREF="mailto:Emmanuel.Vazquez@supelec.fr">Emmanuel Vazquez</A>) </td>
  </tr>
<!-- -->
  <tr>
    <td style="background-color:  #31B5BC;" align="center" colspan="2" > 10h-10h30: Pause </td>
  </tr>
<!-- -->
  <tr>
    <td style="background-color: #d0e3e2;" align="center" colspan="1" > 10h30-12h30 </td>
    <td align="center" colspan="1"> Retour et synth&egrave;se sur les m&eacute;thodes expos&eacute;es, int&eacute;ractions avec les participants </td>
  </tr>
<!-- -->
  <tr>
    <td style="background-color: #FFD051;" align="center" colspan="2" >  12h30-14h: D&eacute;jeuner ou panier repas</td>
  </tr>
<!-- -->
</table>

</div>

    
