<div id="programme">
Sur cette page, vous trouverez les informations pratiques concernant:

<ul> 
<li>le voyage et votre installation &agrave; l'&eacute;cole de physique des Houches,</li> 
<li> le paiement,</li>
<li>toutes les informations concernant l'environnement n&eacute;cessaire sur votre portable personnel pour les TPs sous R.</li>
</ul>

<h2> Informations pratiques concernant le voyage et votre installation </h2>
L'arriv&eacute;e est pr&eacute;vue le dimanche 7 avril dans l'apr&egrave;s-midi et le d&eacute;part le vendredi 12 avril apr&egrave;s d&eacute;jeuner. Notez qu'il n'est pas possible d'arriver avant, ni de rester le vendredi soir. <br>
<br>
Le dimanche 7 avril, l'&eacute;cole sera ouverte vers 15 heures ; il est d&eacute;conseill&eacute; d'arriver avant car il n'y a pas de d&eacute;jeuner, le premier repas &eacute;tant le d&icirc;ner.<br>
<br>
Les participants trouveront dans l'entr&eacute;e du b&acirc;timent administratif le plan de logement avec le nom de leur chalet et le num&eacute;ro de leur chambre. A noter que les b&acirc;timents Ceutrons et Broula ont un code d'acc&egrave;s qui est not&eacute; &eacute;galement dans l'entr&eacute;e. Les participants pourront ainsi s'installer dans leur chambre.<br>
<br>
Les voitures doivent obligatoirement &ecirc;tre gar&eacute;es sur le parking du haut. <br>
<br>
Pour ceux qui arrivent &agrave; la gare des Houches, il faut savoir qu'il n'y a que 4 taxis aux Houches souvent tr&egrave;s occup&eacute;s le dimanche, il est plus prudent de r&eacute;server. Voici les num&eacute;ros de t&eacute;l&eacute;phone : 
<ul>
<li>taxi Garny : 06 12 35 30 72,</li> 
<li>taxi Persault : 04 50 54 41 09, </li>
<li>taxi Carrier: 06 22 75 19 37,</li> 
<li>taxi Servoz : 06 84 66 86 73.</li>
</ul>
Ceux arrivant &agrave; l'a&eacute;roport de Gen&egrave;ve doivent faire eux-m&ecirc;mes leur r&eacute;servation de shuttle qui les am&egrave;nera directement &agrave; l'Ecole des Houches ; voici le lien : http://www.chamonix.net/english/transport/transfers.htm<br>
<br>
<a href="infosVoyagesParis.html">Informations pour ceux qui viennent de Paris</a><br>
<br>
Une secr&eacute;taire sera pr&eacute;sente de 18h &agrave; 19h30 pour vous pr&eacute;senter l'Ecole et r&eacute;gler les &eacute;ventuels probl&egrave;mes.<br>
<br>
A noter qu'en hiver les &eacute;quipements sp&eacute;ciaux sont indispensables pour les voitures pour acc&eacute;der à l'&eacute;cole ainsi que de bonnes chaussures m&ecirc;me si la route et les chemins sont d&eacute;neig&eacute;s r&eacute;guli&egrave;rement, ils restent glissants; les jours sont courts et le soleil brille faiblement. <br>
<br>
Vous pouvez aussi consulter:
<br>
<ul>
<li> <a href="http://houches.ujf-grenoble.fr/jsp/fiche_pagelibre.jsp?CODE=31508954&LANGUE=0&RH=1261231404562&RF=1261231404562"
   > Lien sur le site de l'&eacute;cole de physique des Houches </a></li>

<li><a href="http://houches.ujf-grenoble.fr/jsp/fiche_pagelibre.jsp?CODE=92316822&LANGUE=0&RH=1261231404562&RF=1237392222068"
   > Lien sur la page web des informations pratiques de l'&eacute;cole de physique des Houches</a></li>
</ul>

<!-- <h3> Informations g&eacute;n&eacute;rales sur l'&eacute;cole de Physique des Houches</h3>
<h3> Informations pratiques sur l'&eacute;cole de Physique des Houches</h>
</div> -->

<h2> Informations concernant le paiement</h2>
Comme vous nous l'avons signal&eacute; par mail, le paiement se fait avec l'&eacute;cole de physique des Houches, la correspondante est Flora Gheno (<A HREF="mailto:flora.gheno@ujf-grenoble.fr">flora.gheno@ujf-grenoble.fr</A>). Deux possibilit&eacute;s, vous payez sur place par carte banquaire, une facture vous sera fournie ou par bon de commande &agrave; l'&eacute;cole des Houches.
<h2> Informations pratiques concernant les TPs sous R </h2>
Comme vous l'avez observ&eacute; sur le programme de l'&eacute;cole ASPEN , beaucoup de cours sont accompagn&eacute;s de TPs, ces TPs se font sous R, ce qui n&eacute;cessite une organisation.<br>
<br>
Le site de l'&eacute;cole de Physique des Houches n'&eacute;tant pas &eacute;quip&eacute; de station de travail (ou du moins pas dans les salles qui seront utilis&eacute;es pour les TPs), nous demandons &agrave; tout participant de venir avec son propre portable sur lequel il aura install&eacute;  R de base et quelques packages dont nous vous donnons la liste. Nous avons fait le choix de l'interface utilisateurs <A href="http://www.rstudio.com/">RStudio</a>, si vous avez l'habitude d'une autre interface(), on ne vous impose pas de changer vos habitudes.<br>
<br>

<b> Quelques informations pratiques pour mettre &agrave; jour votre environnement R sur votre portable (avant l'&eacute;cole)</b>
<ul>
<li> Installation de R: <a href="http://cran.r-project.org/doc/manuals/R-admin.html"
   > un tutorial complet distinguant les installation Windows, MacOS et Linux</a></li>
<li> <A href="http://cran.r-project.org/doc/manuals/R-admin.html#Installing-packages">Installation d'un nouveau package</a> sur le m&ecirc;me tutoriel. Dans Rstudio, il y a un menu qui fait tout...</li>
<li> <a href="http://www.rstudio.com/ide/download/">T&eacute;l&eacute;chargement et installation de RStudio </a></li>
<li> <b><a href="listePackage.html">Liste des packages utiles pour les TPs de l'&eacute;cole</a></b></li>

</ul>

