<div id="programme">
      
  <h2> Organisateurs Scientifiques </h2>
  
  <ul>

     <li> <em> C. Prieur. </em> Universit&eacute; Joseph Fourier , INRIA, LJK-MOISE, Grenoble, </li>
     <li> <em> H. Monod. </em> MIA, INRA Jouy-en-Josas,  </li>
     <li> <em> L. Viry. </em> Universit&eacute; Joseph Fourier,</li>
     <li> <em> R. Faivre. </em> BIA, INRA Toulouse. </li>
    

    
  </ul>
  
  <h2> Les Houches  </h2>
  <ul>
    <li> <em> L. Cugliandolo. </em> Directrice de l'Ecole, responsable des &eacute;coles d'&eacute;t&eacute;. </li>
    <li> <em> M.-H. Julien </em> Directeur-adjoint. </li>
<!--    <li> <em> J.-F. Pinton. </em> Physics Center program
      director.  </li> -->
    <li> <em> <a href="mailto:flora.gheno@ujf-grenoble.fr">Flora Gheno</a>. </em> Responsable administrative. </li>
    <li> <em> Isabel Leli&egrave;vre. </em> Assistante. </li>
    <li> <em> Murielle Gardette. </em> Assistante. </li>
  </ul>
  
</div>
    
