<div id="content">
  
  <!-- commentaire -->
  
<!--  <img class="photo" src="Doc/last_picture.png" alt="Last picture" /> -->
  
  <h3>
    Objectifs de l'&eacute;cole:
  </h3>
  
  <p>
   
    Dans les sciences de l'environnement, mais &eacute;galement dans divers domaines de l'ing&eacute;nierie, de nombreux codes de calcul d&eacute;pendent d'un grand nombre de param&egrave;tres et de variables d'entr&eacute;es. L'&eacute;cole ASPEN a pour objectif d'exposer les m&eacute;thodes les plus r&eacute;centes pour la propagation d'incertitudes, l'analyse de sensibilit&eacute; et l'exploration num&eacute;rique de ces codes et des mod&egrave;les asssoci&eacute;s.
    <br>
<!--    LES INSCRIPTIONS SONT OUVERTES : <a href="application.php" title="Application">
	    Inscription </a> -->
  </p>
  
  
    
  <h3>
    Participants:
  </h3>
  
  <p>
    L'&eacute;cole-chercheurs est ouverte aux chercheurs, ing&eacute;nieurs, doctorants et post-doctorants, dont les travaux portent sur la mod&eacute;lisation ou impliquent de fa&ccedil;on importante de la mod&eacute;lisation dans les sciences de l'environnement.  </p>
  
  
  
  <h2> Organisateurs: </h2>
  
  <p>
    <ul>
      <li><A HREF="http://ljk.imag.fr/membres/Clementine.Prieur/">Cl&eacute;mentine Prieur</A>  (UJF Grenoble),</li>
      <li><A HREF="http://w3.jouy.inra.fr/unites/miaj/public/perso/HerveMonod_en.html">Herv&eacute; Monod</A> (MIA - INRA, Centre de Jouy en Josas),</li>
      <li><A HREF="http://www.inra.fr/mia/T/faivre/welcome.html">Robert Faivre</A>  (MIA - INRA, Centre de Toulouse),</li>
      <li><A HREF="http://www-ljk.imag.fr/membres/Laurence.Viry/">Laurence Viry </A>  (UJF Grenoble).</li>
    </ul>
  </p>
  
    
</div>

