Informations pour ceux qui viennent de Paris:<br>
<br>
Voici deux options:
<br>
<ol>
<li> <b> Aller jusqu' &agrave; Gen&egrave;ve (train ou avion)</b><br>
A partir de Gen&egrave;ve, on peut prendre un bus jusqu'aux Houches (<a href="277_fr.pdf">horaires</a>).<br>
Le bus fait le trajet Gen&egrave;ve-Chamonix (dans les deux sens) mais on ne peut pas le prendre pour faire un bout trajet en France (Saint Gervais-Les Houches par exemple)<br>
Il y a aussi l'option <A href=" http://www.chamexpress.com"> minibus depuis l'a&eacute;roport </a>.
</li>
<li><b> En train</b>, on peut &eacute;galement aller jusqu' &agrave; Saint Gervais les Bains Le Fayet via Bellegarde ou Annecy (
<a href="horaire_train_leshouches.pdf"> horaires</a>)<br>
Pour le trajet, Saint Gervais-Les Houches, je suis plus perplexe.
Sur le site ter-sncf.com, il n'y a pas de r&eacute;sultats quand on demande des horaires sur cette p&eacute;riode.
    Ils ont sorti <a href="aff_Chamonix_2_avr_au_28_juin.pdf">une nouvelle fiche horaire</a> !! <br>
On peut supposer qu'il y aura des bus  &agrave; la sortie des trains.

</ol>
<br>
<a href="186_fr.pdf">Divers horaires/trajets entre Chamonix et les Houches</a>
