<b>Liste des packages utiles pour les TPs de l'&eacute;cole</b>
<ul>
<li><b>sensitivity</b>:  Sensitivity Analysis (depends: R2.15.1, boot, rgl)</li>

<li> <b>lhs</b>: Latin Hypercube Samples (depends: R (>= 2.14.2)</li>

<li><b> planor</b>: Generation of regular factorial designs (depends: R 2.15.1 methods, conf.design, biganalytics, bigmemory (>= 4.2.3)) </li>

<li><b>FrF2</b>:  Fractional Factorial designs with 2-level factors (depends R2.15.2 ???, BsMD, scatterplot3d, igraph (>=0.6-2), DoE.base (>= 0.23-2))</li>

<li><b> DiceDesign</b>: Space-Filling Designs and Uniformity Criteria (depends: R 2.15.0)</li>

<li><b> randtoolbox</b>: The package provides (1) pseudo random generators - general linear congruential generators (Park Miller) and multiple  (depends: R 2.15.0
,rngWELL)</li>

<li> <b>lattice</b>: Lattice is a powerful and elegant high-level data visualization system, with an emphasis on multivariate data, that is sufficient for typical graphics needs, and is also flexible enough to handle most nonstandard (depends: R (>= 2.15.1))</li>

<li><b> mgcv</b>:	Mixed GAM Computation Vehicle with GCV/AIC/REML smoothness estimation (depends: R (>= 2.14.0), stats, graphics) Version 1.7-22</li>

<li> <b>gmp</b>: Multiple Precision Arithmetic (big integers and rationals, prime number tests, matrix computation), "arithmetic without limitations" using the C library GMP (GNU Multiple Precision Arithmetic).</li>

<li> <b> DiceKriging</b>: Kriging methods for computer experiments</li>

<li> <b> DiceView </b>: View 2D/3D sections or contours of computer experiments designs, surrogates or test functions </li>

<li> <b> rgl </b>: 3D visualization device system (OpenGL) </li>

<li> <b> DiceEval </b> Estimation, validation and prediction of metamodels (linear models, additive models, MARS,PolyMARS and Kriging)</li>

</ul>
