
<div id="programme">
     
  <h2>Exposés invités </h2>

  <ul>
    <li> <em> <A HREF="http://ens.math.univ-montp2.fr/SPIP/spip.php?rubrique2517">Nathalie Saint-Geours</A> </em>(ENGREF Montpellier), </li>
    <li> <em> <A HREF="mailto:geraud.blatman@edf.fr">G&eacute;raud Blatman </A> </em>(EDF RetD), </li>
    <li> <em> <A HREF="http://ljk.imag.fr/membres/Eric.Blayo/">Eric Blayo</A> </em>(LJK - UJF, Grenoble), </li>
    <li> <em> <A HREF="http://www.ginsbourger.ch/">David Ginsbourger</A> </em>(Universit&eacute; de Bern, Suisse), </li>
    <li> <em> <A HREF="http://isfaserveur.univ-lyon1.fr/~janona/"> Alexandre Janon</A> </em>(ISFA Lyon 1), </li>
    <li> <em> <A HREF="https://sites.google.com/site/victorpicheny/">Victor Picheny</A> </em>(INRA BIA Toulouse). </li>
  </ul>
  
  <h2> Cours/TP et expos&eacute;s d'introduction </h2>
  
  <ul>
   <li> <em> <A HREF="http://www.inra.fr/mia/T/faivre/welcome.html">Robert Faivre</A>  </em>(MIA - INRA, Centre de Toulouse),  </li>
   <li> <em> <A HREF="http://www-ljk.imag.fr/membres/Celine.Helbert/">C&eacute;line Helbert</A>  </em>(Centrale Lyon),  </li>
    <li> <em> <A HREF="http://w3.jouy.inra.fr/unites/miaj/public/perso/HerveMonod_en.html">Herv&eacute; Monod</A> </em> (MIA - INRA, Centre de Jouy en Josas),</li>
    <li> <em> <A HREF="http://annuaire.ifremer.fr/cv/16343/">St&eacute;phanie Mah&eacute;vas</A>  </em>(Ifremer),  </li>
    <li> <em> <A HREF="http://www5.versailles-grignon.inra.fr/agronomie/cv/Makowski">David Makowski  </A></em> (INRA), </li>
    <li> <em> <A HREF="mailto:amandine.marrel@cea.fr">Amandine Marrel  </A> </em>(CEA Cadarache),  </li>
    <li> <em> <A HREF="http://ljk.imag.fr/membres/Clementine.Prieur/">Cl&eacute;mentine Prieur </A> </em> (LJK - UJF, Grenoble),  </li>
    <li> <em> <A HREF="http://www-ljk.imag.fr/membres/Laurence.Viry/">Laurence Viry   </A></em>  (LJK - UJF, Grenoble).  </li>
  </ul>
  
<!-- Tableau du programme  -->
<!-- --------------------  -->

<h2>Lundi 8 Avril </h2>

Sur cette premi&egrave;re journ&eacute;e, il pourra y avoir quelques modifications.
<br>
<br>
<!-- nouvelle version -->
<table  border="1" width="100%">
<!-- -->
  <tr>
    <td style="background-color: #d0e3e2;" align="center" colspan="1"> 10h-10h30 </td>
    <td align="center" colspan="1"> Introduction g&eacute;n&eacute;rale 
      (<A HREF="Support/Slides/IntroGenerale.pdf">slides </A>)<br>
      (<A HREF="mailto:herve.monod@jouy.inra.fr">Herv&eacute; Monod</A> et
      <A HREF="mailto:clementine.prieur@imag.fr">Cl&eacute;mentine Prieur</A>)  </td>
  </tr>
<!-- -->
  <tr>
    <td style="background-color: #d0e3e2;" align="center" colspan="1"> 10h30-11h30 </td>
    <td align="center" colspan="1"> Introduction &agrave; l'analyse de sensibilit&eacute; et d'incertitude 
 (<a href="Support/Slides/MakowskiECanalyseSensibilite_2013.pdf">slides</a>)<br>(<A HREF="mailto:david.makowski@grignon.inra.fr">David Makowski</A>)
    </td>
  </tr>

<!-- -->
  <tr>
    <td style="background-color: #d0e3e2;" align="center" colspan="1"> 11h30-12h30 </td>
    <td align="center" colspan="1"> Initiation R: les bases du langage <br> (<A HREF="mailto:Laurence.Viry@imag.fr">Laurence
Viry</A>)</td>
  </tr>
<!-- -->
  <tr>
    <td style="background-color: #FFD051;" align="center" colspan="2">  12h30-14h: D&eacute;jeuner </td>
  </tr>
<!-- -->
  <tr>
    <td style="background-color: #d0e3e2;" align="center" colspan="1"> 14h-15h </td>
    <td align="center" colspan="1"> Enjeux et m&eacute;thodes de l'exploration des mod&egrave;les 
  (<a href="Support/Slides/Intro_Marrel_Iooss.pdf">slides</a>)<br>
(<A HREF="mailto:biooss@yahoo.fr">Amandine Marrel</A>)
    </td>
  </tr>

<!-- -->
  <tr>
    <td style="background-color: #d0e3e2;" align="center" colspan="1"> 15h-16h </td>
    <td align="center" colspan="1"> Grille d'analyse du choix d'une m&eacute;thode. Illustration sur ISIS-Fish 
  (<a href="Support/Slides/2013_GrilleExemple_SM.pdf">slides</a>)<br>
(<A HREF="mailto:Stephanie.Mahevas@ifremer.fr">S&eacute;phanie Mah&eacute;vas</A>)
    </td>
  </tr>
<!-- -->
  <tr>
    <td style="background-color:  #31B5BC;" align="center" colspan="2"> 16h-16h30: Pause </td>
  </tr>

<!-- -->
  <tr>
    <td style="background-color: #d0e3e2;" align="center" colspan="1"> 16h30-18h </td>
    <td align="center" colspan="1"> Initiation R: traitement statistique <br> (<A HREF="mailto:Laurence.Viry@imag.fr">Laurence
Viry</A>)</td>
  </tr>
<!-- -->
  <tr>
    <td style="background-color:   #FFD051;" align="center" colspan="2"> 19h Pot d'accueil </td>
  </tr>

</table>

<!-- MARDI -->

<h2>Mardi 9 Avril </h2>

<table  border="1" width="100%">
<!-- -->
  <tr>
    <td style="background-color: #d0e3e2;" align="center" colspan="1"> 8h30-10h </td>
    <td align="center" colspan="1"> Cours 1: plans d'exp&eacute;rience pour le criblage et l'analyse de sensibilit&eacute; 
  (<a href="Support/Slides/Cours1.pdf">slides</a>)<br>
  (<A HREF="mailto:herve.monod@jouy.inra.fr">Herv&eacute; Monod</A>)  </td>
  </tr>
<!-- -->
  <tr>
    <td style="background-color:  #31B5BC;" align="center" colspan="2"> 10h-10h30: Pause </td>
  </tr>
<!-- -->
  <tr>
    <td style="background-color: #d0e3e2;" align="center" colspan="1"> 10h30-12h30 </td>
    <td align="center" colspan="1"> TP1: plans d'exp&eacute;riences </td>
  </tr>
<!-- -->
  <tr>
    <td style="background-color: #FFD051;" align="center" colspan="2">  12h30-14h: D&eacute;jeuner </td>
  </tr>
<!-- -->
  <tr>
    <td style="background-color: #d0e3e2;" align="center" colspan="1"> 14h-15h30 </td>
    <td align="center" colspan="1"> Cours 2: analyse de sensibilit&eacute; par d&eacute;composition de la variance 
  (<a href="Support/Slides/Cours2.pdf">slides</a>)<br>
(<A HREF="mailto:clementine.prieur@imag.fr">Cl&eacute;mentine Prieur</A>)
    </td>
  </tr>
<!-- -->
  <tr>
    <td style="background-color:  #31B5BC;" align="center" colspan="2"> 15h30-16h: Pause </td>
  </tr>
<!-- -->
  <tr>
    <td style="background-color: #d0e3e2;" align="center" colspan="1"> 16h-18h </td>
    <td align="center" colspan="1"> TP2: analyse de sensibilit&eacute; 
    </td>
  </tr>
<!-- -->
  <tr>
    <td style="background-color: #d0e3e2;" align="center" colspan="1"> 18h-19h </td>
    <td align="center" colspan="1"> Analyse de sensibilit&eacute; spatialis&eacute;e 
  (<a href="Support/Slides/AnalyseSensibiliteSpatialisee.pdf">slides</a>)<br>
(<A HREF="mailto:nathalie.saint-geours@teledetection.fr">Nathalie Saint-Geours</A>)</td>
  </tr>
<!-- -->
  <tr>
    <td style="background-color: #FFD051;" align="center" colspan="2">  19h30: D&icirc;ner </td>
  </tr>
<!-- -->
  <tr>
    <td style="background-color: #d0e3e2;" align="center" colspan="1"> 21h15</td>
    <td align="center" colspan="1"> Mod&egrave;le au bar</td>
  </tr>

</table>

<!-- MERCREDI -->

<h2>Mercredi 10 Avril </h2>

<table  border="1" width="100%">
<!-- -->
  <tr>
    <td style="background-color: #d0e3e2;" align="center" colspan="1" > 9h-9h45 </td>
    <td align="center" colspan="1"> M&eacute;thodes adjointes pour l'analyse de sensibilit&eacute; 
 (<a href="Support/Slides/sensibilite-adjoint.pdf">slides</a>)<br>

(<A HREF="mailto:blayo@imag.fr">Eric Blayo</A>)  </td>
  </tr>
<!-- -->
  <tr>
    <td style="background-color: #d0e3e2;" align="center" colspan="1" > 9h45-10h30 </td>
    <td align="center" colspan="1"> Approches intrusives pour l'analyse de sensibilit&eacute;
  (<a href="Support/Slides/Janon_A_Approches_intrusives.pdf">slides</a>)<br>
 (<A HREF="mailto:alexandre.janon@imag.fr">Alexandre Janon</A>) </td>
  </tr>
<!-- -->
  <tr>
    <td style="background-color:  #31B5BC;" align="center" colspan="2" > 10h30-11h: Pause </td>
  </tr>
<!-- -->
  <tr>
    <td style="background-color: #d0e3e2;" align="center" colspan="1" > 11h-11h45 </td>
    <td align="center" colspan="1"> Méthodes de distances et métamodèles sur base de proxys pour la planification d’expériences 
  (<a href="Support/Slides/LesHouchesGinsbourger042013_Main.pdf">slides</a>)<br>

 (<A HREF="mailto:david.ginsbourger@stat.unibe.ch">David Ginsbourger</A>) </td>
  </tr>
<!-- -->
  <tr>
    <td style="background-color: #d0e3e2;" align="center" colspan="1" > 11h45-12h30 </td>
    <td align="center" colspan="1"> Apports du Calcul Haute Performance (High Performance Computing)   
  (<a href="Support/Slides/TendanceHPC.pdf">slides</a>)<br>
 (<A HREF="mailto:Laurence.Viry@imag.fr">Laurence Viry</A>)</td>
  </tr>
<!-- -->
  <tr>
    <td style="background-color: #FFD051;" align="center" colspan="2" >  12h30-14h: D&eacute;jeuner </td>
  </tr>
<tr>
    <td height="100" style="background-color: #DB3257;" align="center" colspan="2">  14h-19h30: Apr&egrave;s-midi d&eacute;tente </td>
</tr>
<!-- -->
<tr>
  <td style="background-color: #FFD051;" align="center" colspan="2">  19h30: D&icirc;ner </td>
</tr>
<!-- -->
  <tr>
    <td style="background-color: #d0e3e2;" align="center" colspan="1"> 21h15</td>
    <td align="center" colspan="1"> Mod&egrave;le au bar</td>
  </tr>
</table>

<!-- JEUDI -->

<h2>Jeudi 11 Avril </h2>

<table  border="1" width="100%">
<!-- -->
  <tr>
    <td style="background-color: #d0e3e2;" align="center" colspan="1" > 8h30-10h </td>
    <td align="center" colspan="1"> Cours 3: M&eacute;tamod&eacute;lisation par r&eacute;gression param&eacute;trique et non param&eacute;trique 
  (<a href="Support/Slides/Cours3.pdf">slides</a>)<br>
 (<A HREF="mailto:robert.faivre@toulouse.inra.fr">Robert Faivre</A>)  </td>
  </tr>
<!-- -->
  <tr>
    <td style="background-color:  #31B5BC;" align="center" colspan="2" > 10h-10h30: Pause </td>
  </tr>
<!-- -->
  <tr>
    <td style="background-color: #d0e3e2;" align="center" colspan="1"> 10h30-12h30 </td>
    <td align="center" colspan="1"> TP3: r&eacute;gression 
    </td>
  </tr>
<!-- -->
  <tr>
    <td style="background-color: #FFD051;" align="center" colspan="2" >  12h30-14h: D&eacute;jeuner </td>
  </tr>
<!-- -->
  <tr>
    <td style="background-color: #d0e3e2;" align="center" colspan="1"> 14h-15h30 </td>
    <td align="center" colspan="1"> Cours 4: M&eacute;tamod&eacute;lisation par processus gaussiens 
  (<a href="Support/Slides/Cours4.pdf">slides</a>)<br>
 (<A HREF="mailto:amandine.marrel@ifp.fr">Amandine Marrel</A>) </td>
  </tr>
<!-- -->
  <tr>
    <td style="background-color:  #31B5BC;" align="center" colspan="2"> 15h-15h30: Pause </td>
  </tr>
<!-- -->
  <tr>
    <td style="background-color: #d0e3e2;" align="center" colspan="1"> 16h-18h </td>
    <td align="center" colspan="1"> TP 4: processus gaussiens</td>
  </tr>
<!-- -->
  <tr>
    <td style="background-color: #FFD051;" align="center" colspan="2">  19h30: D&icirc;ner </td>
  </tr>
<!-- -->
  <tr>
    <td style="background-color: #FFD051;" align="center" colspan="2" > Repas Savoyard </td>
  </tr>
<!-- -->
</table>

<!-- VENDREDI -->

<h2>Vendredi 12 Avril </h2>

<table  border="1" width="100%">
<!-- -->
  <tr>
    <td style="background-color: #d0e3e2;" align="center" colspan="1" > 8h30-9h15 </td>
<td align="center" colspan="1"> Métamodélisation par polyn&ocirc;mes de chaos 
  (<a href="Support/Slides/Polynomial_chaos_ASPEN_2013.pdf">slides</a>)<br>
 (<A HREF="mailto:geraud.blatman@edf.fr">G&eacute;raud
Blatman</A>) </td>
  </tr>
<!-- -->
  <tr>
    <td style="background-color: #d0e3e2;" align="center" colspan="1" > 9h15-10h </td>
    <td align="center" colspan="1"> Optimisation par exploration de code num&eacute;rique 
 (<a href="Support/Slides/optimAspen.pdf">slides</a>)

<br> 

 (<A HREF="mailto:victor.picheny@ecp.fr">Victor
Picheny</A>) </td>
  </tr>
<!-- -->
  <tr>
    <td style="background-color:  #31B5BC;" align="center" colspan="2" > 10h-10h30: Pause </td>
  </tr>
<!-- -->
  <tr>
    <td style="background-color: #d0e3e2;" align="center" colspan="1" > 10h30-12h30 </td>
    <td align="center" colspan="1"> Conclusion </td>
  </tr>
<!-- -->
  <tr>
    <td style="background-color: #FFD051;" align="center" colspan="2" >  12h30-14h: D&eacute;jeuner ou panier repas</td>
  </tr>
<!-- -->
</table>

</div>

    
