<div id="programme">

  <h2> Sponsors </h2>

  <ul>

    <li> <em> <A HREF="http://www.maimosine.fr/">MaiMoSine</A>  </em> Maison de la mod&eacute;lisation et de
    la simulation.  </li>
    <li> <em> <A HREF="http://www.inra.fr/"INRA</A> </em> Institut National de la Recherche Agronomique. </li>
    <li> <em> <A HREF="http://www.gdr-mascotnum.fr/"MASCOT NUM</A> </em> GDR CNRS MASCOT NUM. </li>
    <li> <em> <A HREF="http://www.inria.fr/"INRIA</A> </em> Institut National de la Recherche en Informatique et Automatique. </li>
  </ul>

</div>
